.gradient-effect {
  background: #ccc linear-gradient(to bottom, #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}

.accent-color {
  color: #e85e2c;
}

.text-xl {
  font-size: 1.5rem;
  font-weight: 700;
}

.margin-top-default {
  margin-top: 20px;
}
.margin-top-nomal {
  margin-top: 10px;
}
